/* geral */
*{
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
    border: none;
}

body{
    background: rgba(4, 211, 97, 0.9);
}

/* container de login*/

.login{

    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 20vh;
    border-radius: 10px;
    
}
img{
    background-size: cover;
    margin-bottom: 20px;
}

/* formulario de login*/

form{
    margin-top: 30px;
    margin-bottom:40px;

}

label{
    
    
}
.logar{
    
    font-size: bold;
    font-size: 1.1rem;
}
#posisao{
    display: block;
    position: relative;
    position: absolute;
    top: 316px;
    left: 100px;
    width: 100%;
}
senha{
    display: block;
    position: relative;
    position: absolute;
    top: 357px;
    left:90px;
    
    font-size: bold;
    font-size: 1.1rem;
}



input{
    height: 40px;
    background-color: #FFFFFF;
    margin: px;
    

}
#login{
    border-radius: 20px 20px 0px 0px;
}

#senha{
    border-radius: 0px 0px 20px 20px;
    border-radius: none;
}

.enviar{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    height: 48px;
    width: 100px;
    border-radius: 20px;
    margin-top: 35px;
    color: #ffffff;
    background-color: blue;

}

